.home-button{
    border: 1px white solid;
    color:white;
    background-color: rgb(0,0,0,.5);
    width:15vw;
    font-size: 1.5em;
    font-weight: 300;
    padding:10px;
    margin:2vw;
}
.np-button{
    border: 1px white solid;
    color:white;
    background-color: rgb(190,91,117,.5);
    font-size: 1.5em;
    font-weight: 300;
    padding:10px;
    margin:2vw;
}

.r-button{
    border: 1px white solid;
    color:white;
    background-color: rgb(140,179,105,.6);
    font-size: 1.5em;
    font-weight: 300;
    padding:10px;
    margin:2vw;
}
