.rest-result{
    border-radius: 10px;
    background-color:rgb(140,179,105,.19);
    width:50vw;
    font-size: 1.3em;
    font-weight: 300;
    padding:10px;
    margin:0 auto;
    margin-bottom:2vh;
}
.rest-text{
    padding-left:2vw;
    padding-right:2vw;
    border-right: 1px black solid;
}
.rest-text-last{
    padding-left:2vw;
    padding-right:2vw;
}

