.r-home-page{
    background-color: rgb(140,179,105,.19);
    height: 100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    height:20vw;
    width:20vw;
    display:block;
    margin:auto;
}
.r-home-title{
    color:white;
    font-size: 5em;
    font-weight: 500;
    margin:2vw;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
.r-navigation{
    border-bottom: 1px #8CB369 solid;
    position: absolute;
    top:0;
    left:0;
    height:6vh;
    width:100vw;
    padding:1vh;
}
.r-nav-title{
    display: inline-block;
    font-size:1.5em;
    font-weight: 100;
    width:25vw;
    text-align: center;
}